*::selection {
    background-color: gray;
}

body {
    margin: 0;
    padding: 0;
}

header img {
    height: 50px;
}
header {
    height: 4em;
    line-height: 4em;
    text-align: right;
    left: 0;
    top: 2em;
    width: 100%;
}

header .logo {
    height: 4em;
    position: absolute;
}

header a {
    right: 0;
    display: block;   
    margin: 0 10px; 
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.25s;
    cursor: pointer;
}

header a:hover {
    color: rgb(243, 155, 128);
    transition: 0.25s;
}

header nav {
    display: flex;
    flex-direction: row-reverse;
}

#rechercher {
    color: rgb(243, 155, 128);
    margin-right: 10px;
}

.search {
    margin: 0.5em 10px;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    height: 3em;
    border-radius: 10%;
    padding-left: 0;
    transition: 0.25s;
    outline: none;
    border: none;
}

.search a i::selection {
    background-color: white;
}

.search-open {
    transform: scale(1);
    transition: 0.25s;
}

#barderechercher {
    line-height: 3.25em;
    border: none;
    outline: none;
    background: none;
    border-radius: 100px;
    width: 0;
}