.body a{
    transition: 0.25s;
    width: 320px;
    height: 180px;
    background-size: cover;
}

.body a:hover {
    transform: scale(1.1);
    transition: 0.25s;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1c1c1c;
}
.body {
    margin: 50px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.sidebar {

}