body {
    background-color : #1c1c1c;
    margin           : 0;
    padding          : 0;
    color            : white;
    display          : flex;
    justify-content  : center;
    height           : 100vh;
}

.body {
    margin-top : 4em;
    flex       : 0 1 900px;
    transition : 0.25s;
}

@keyframes slide {
    0% {
        transform : translateX(-100%);
    }
    100% {
        transform : translateX(0%);
    }
}


form {
    display        : flex;
    flex-direction : column;
    margin         : 5em 5% 0 5%;
    flex           : 1 1 822px;
    overflow       : hidden;
    height         : 100vh;
}

form div {
    font-size      : 2em;
    display        : flex;
    flex-direction : column;
    width          : inherit;
    margin         : 50px 5px 20px 5px;
    position       : relative;
}

form div label span {
    z-index        : 1;
    transition     : 0.2s;
    outline        : none;
    position       : absolute;
    font-size      : 1.5em;
    padding        : 4px;
    pointer-events : none;
}

form input[type="text"] {
    font-size        : 1em;
    background-color : #383838;
    border           : none;
    transition       : 0.1s;
    width            : 800px;
    height           : inherit;
    position         : absolute;
    z-index          : 0;
    margin-top       : 5px;
    outline          : none;
    color            : white;
    padding          : 10px;
    box-sizing       : border-box;
}

form input[type="text"]:focus + label span,
form input[type="text"]:valid + label span {
    outline   : none;
    transform : translateY(-100%);
    font-size : 1.2em;
}

form input[type="text"]:focus {
    border  : 1px white solid;
    outline : none;
}

form div textarea {
    background-color : #383838;
    border           : none;
    resize           : none;
    transition       : 0.1s;
    color            : white;
    position         : absolute;
    width            : 800px;
    height           : 300px;
    font-size        : 1em;
    padding          : 4px 10px;
    box-sizing       : border-box;
}

form textarea:focus + label span,
form textarea:valid + label span {
    outline   : none;
    transform : translateY(-100%);
    font-size : 1.2em;
}

form textarea:focus {
    border  : 1px white solid;
    outline : none;
}

#name {
    height : 60px;
}

#description {
    height : 300px;
}

#buttons {
    margin-top      : 0;
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    width           : 800px;
}

form div #uploadPhotoSub {
    cursor           : pointer;
    transition       : 0.1s;
    background-color : #575757;
    font-size        : 1em;
    text-align       : center;
    width            : 200px;
    margin-top       : 10px;
}

form #uploadPhotoSub:hover {
    text-decoration  : underline;
    background-color : #b4b4b4;
}

#buttons input {
    display : none;
}

#uploadPhotoSub {
    overflow      : hidden;
    text-overflow : ellipsis;
}

form button {
    cursor           : pointer;
    transition       : 0.1s;
    background-color : #575757;
    font-size        : 1em;
    text-align       : center;
    width            : 200px;
    margin-top       : 10px;
    color            : white;
    outline          : none;
    border           : none;
}

form button:hover {
    background-color : #b4b4b4;
}