.transition-fade-scale {
    transition : 0.5s;
    opacity    : 1;
    transform  : scale(1);
}

html.is-animating .transition-fade-scale {
    opacity   : 0;
    transform : scale(0.9);
}

html.is-leaving .transition-fade-scale {
    opacity   : 0;
    transform : scale(1.1);
}