body {
    background-color : #1c1c1c;
    margin           : 0;
    padding          : 0;
    color            : white;
    display          : flex;
    justify-content  : center;
}

.body {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    margin-top     : 4em;
    width          : 800px;
}

.Title {
    width            : inherit;
    background-color : #575757;
    font-size        : 2em;
    padding          : 20px 10px;
    margin-top       : 50px;
}

.post {
    width            : inherit;
    display          : flex;
    flex-direction   : column;
    background-color : #383838;
    padding          : 30px 10px 50px 10px;
    align-items      : center;
}

.post p {
    text-align : left;
    width      : inherit;
}

.post img {
    width      : inherit;
    margin-top : 30px;
}

.comments {
    width            : inherit;
    padding          : 0 10px 30px 10px;
    display          : flex;
    flex-direction   : column;
    background-color : #383838;
    margin           : 50px 0 100px 0;
}

.commentHolder {
    padding       : 30px 10px;
    flex          : 1;
    border-bottom : solid 1px gray;
}

.commentHead {
    border           : 1px solid gray;
    padding          : 10px;
    margin           : 10px 0;
    background-color : #575757;
}

date {
    font-size   : 0.7em;
    margin-left : 30px;
}